-Dspring.profiles.active=dev
-DMYSQL_HOST=192.168.0.10
-DMYSQL_PORT=3306
-DMYSQL_DATABASE=toy_commerce
-DMYSQL_USER=toy_user
-DMYSQL_PASSWORD=toy_password
-DREDIS_HOST=192.168.0.10
-DREDIS_PORT=6379
-DKAFKA_BOOTSTRAP_SERVERS=192.168.0.10:9092
-DKAFKA_CONSUMER_GROUP_ID=toy-commerce-order-event-consumer
-DMONGODB_HOST=192.168.0.10
-DMONGODB_PORT=27017
-DMONGODB_DATABASE=toy_commerce
-DLOGSTASH_HOST=192.168.0.10
-DLOGSTASH_PORT=5514
-DCOMMERCE_API_LOG_FILE=logs/commerce-api.log
-DLEGACY_ORACLE_ENABLED=false
-DLEGACY_ORACLE_URL=jdbc:oracle:thin:@192.168.0.10:1521/XEPDB1
-DLEGACY_ORACLE_USER=legacy_user
-DLEGACY_ORACLE_PASSWORD=legacy_password
-DLEGACY_ORACLE_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
